/*#########
## Basic ##
#########*/

html {
	scroll-behavior: smooth;
}

h1{
    color: #b8b6b4;
    font-weight: 500 !important;
}

p{
    color: #b8b6b4;
    font-weight: 500 !important;
    font-size: 15px;
}

hr{
    background-color: #ffffff;
    color: #ffffff;
    height: 5px;
}

/*##########
## Colors ##
##########*/

body {
	background-color: #171a21 !important;
}

.bg-primary {
	background-color: #171a21 !important;
}

.bg-secondary {
	background-color: #1b2838 !important;
}

.bg-info {
    background-color: #54a5d4 !important;
}

.btn-info {
    background-color: #54a5d4 !important;
}

/*##########
## Header ##
##########*/

.nav-link{
	font-size: 18px;
    font-weight: 500;
	color: #ffffff !important;
}

.navbar-brand{
    font-size: 25px;
	font-weight: 700;
	color: #b8b6b4 !important;
}

.navbar-toggler {
    border-color: #ffffff !important;
    border-width: medium !important;
}

/*##########
## Addons ##
##########*/

.card:hover {
	box-shadow: 0px 0px 0px 3px #54a5d4;
}

label {
    color: #b8b6b4;
    font-weight: 500 !important;
    font-size: 18px;
}