@font-face {
    font-family: 'Basier Circle';
    src: url('BasierCircle-Bold.eot');
    src: local('Basier Circle Bold'), local('BasierCircle-Bold'),
        url('BasierCircle-Bold.eot?#iefix') format('embedded-opentype'),
        url('BasierCircle-Bold.woff2') format('woff2'),
        url('BasierCircle-Bold.woff') format('woff'),
        url('BasierCircle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
