@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
$primary: #171a21;
$secondary: #1b2838;
$ternary: #54a5d4;
$ternaryLight: #0dcaf0;

// Global
html {
	scroll-behavior: smooth;
}

body {
	font-family: "Basier Circle";
}

// Custom
.fullpage {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

// Bootstrap
.bg-primary {
	background-color: $primary !important;
}

.bg-secondary {
	background-color: $secondary !important;
}

.btn-secondary {
	background-color: $ternary !important;
	border-color: $ternary !important;
}

.btn-secondary:hover {
	background-color: $ternaryLight !important;
	border-color: $ternaryLight !important;
}

.btn-secondary:focus {
	border-color: $ternaryLight !important;
	box-shadow: none !important;
}

.spinner-border {
	color: white !important;
}

.img-fluid {
	border-radius: 50%;
}

// Miscelaneous
h1,
h2,
h3,
h5,
button,
a {
	color: white;
}

h1,
h2,
h3,
h5,
span,
button,
a {
	font-weight: bold;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

input {
	font-weight: 700 !important;
}
