@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Basier Circle";
	@apply font-extrabold;
}

h1 {
	@apply text-4xl md:text-8xl text-gray-100;
}

h2 {
	@apply text-xl md:text-5xl text-gray-100;
}

h3 {
	@apply text-3xl text-gray-100;
}

h4 {
	@apply text-2xl text-gray-100;
}

h5,
span {
	@apply text-lg text-gray-100;
}

a {
	@apply text-sm md:text-base text-gray-100;
}

svg {
	display: inline;
}
